<h1>Sign up</h1>
<% if flash[:error] %>
<ol>
  <%= flash[:error].each do |k, v| %>
  <li> <%= error %> </li>
  <% end %>
  </ol>
<% end %>

<form action="/signup" method="POST">
  <input type="email" placeholder="Email" name="user[email]"><br>
  <input type="password" placeholder="Create a password" name="user[password]">
  <input type="submit" value="Sign up">
</form>
